.u-block-a6b7-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-a6b7-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2));
  width: 41px;
  height: 41px;
  top: 194px;
  right: auto;
  padding: 10px;
}

.u-block-a6b7-4 {
  position: absolute;
  width: 41px;
  height: 41px;
  left: auto;
  top: 197px;
  right: calc(((100% - 1140px) / 2)  + 3px);
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-block-a6b7-3 {
    left: calc(((100% - 940px) / 2));
  }

  .u-block-a6b7-4 {
    right: calc(((100% - 940px) / 2)  + 3px);
  }
}

@media (max-width: 991px) {
  .u-block-a6b7-3 {
    left: calc(((100% - 720px) / 2));
  }

  .u-block-a6b7-4 {
    right: calc(((100% - 720px) / 2)  + 2px);
  }
}

@media (max-width: 767px) {
  .u-block-a6b7-3 {
    left: calc(((100% - 540px) / 2));
  }

  .u-block-a6b7-4 {
    right: calc(((100% - 540px) / 2)  + 2px);
  }
}

@media (max-width: 575px) {
  .u-block-a6b7-3 {
    left: calc(((100% - 340px) / 2));
  }

  .u-block-a6b7-4 {
    right: calc(((100% - 340px) / 2)  + 1px);
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/IMG_1695.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 463px;
}

.u-section-1-1 .u-text-1 {
  margin: 232px auto 0 125px;
}

.u-section-1-1 .u-text-2 {
  margin: 14px auto 0 135px;
}

.u-section-1-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 18px auto 0 135px;
  padding: 9px 12px 11px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 293px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 217px;
    margin-left: 60px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-left: 68px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-bottom: 20px;
    margin-left: 68px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 250px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/IMG_16951.jpg");
  background-position: 47.91% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 463px;
}

.u-section-1-2 .u-text-1 {
  margin-top: 239px;
  margin-bottom: 0;
  margin-left: 20px;
  font-size: 3.75rem;
}

.u-section-1-2 .u-text-2 {
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 20px;
}

.u-section-1-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  margin: 20px 1011px 51px 20px;
  padding: 9px 12px 11px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-right: 811px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-top: 222px;
    margin-right: auto;
    margin-left: 37px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: auto;
    margin-left: 47px;
  }

  .u-section-1-2 .u-btn-1 {
    margin: 13px auto 60px 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 221px;
    margin-left: 71px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 81px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 81px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 345px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 16px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 10px;
    margin-left: 16px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 10px;
    margin-bottom: 11px;
    margin-left: 16px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 341px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 33px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 546px;
  margin: 27px auto 0 24px;
}

.u-section-2 .u-image-1 {
  min-height: 154px;
  background-image: url("images/MSP-Sante-Mental.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 8px 22px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 154px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 23px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 5px auto 0 4px;
}

.u-section-2 .u-text-3 {
  font-size: 0.75rem;
  margin: 9px auto 0 4px;
}

.u-section-2 .u-text-4 {
  font-size: 0.75rem;
  margin: 4px 10px 0 4px;
}

.u-section-2 .u-layout-wrap-2 {
  width: 537px;
  margin: -159px 0 0 auto;
}

.u-section-2 .u-image-2 {
  min-height: 164px;
  background-image: url("images/PhotoELIRADOKEKIAS.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 10px 22px;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 164px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 23px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 5px auto 0 4px;
}

.u-section-2 .u-text-6 {
  font-size: 0.75rem;
  margin: 9px auto 0 4px;
}

.u-section-2 .u-text-7 {
  font-size: 0.75rem;
  margin: 0 10px 0 4px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 27px auto 24px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-2 .u-layout-wrap-2 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 470px;
    margin-top: 33px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 159px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 159px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 470px;
    margin-top: 21px;
  }

  .u-section-2 .u-image-2 {
    min-height: 138px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 138px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 15px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 15px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 20px;
    margin-right: -2px;
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 270px;
    margin-top: 73px;
  }

  .u-section-2 .u-image-1 {
    min-height: 263px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 58px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 245px;
    margin-top: -415px;
    margin-bottom: 35px;
  }

  .u-section-2 .u-image-2 {
    min-height: 200px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 189px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    min-height: 193px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 112px;
  }

  .u-section-2 .u-layout-wrap-2 {
    width: 354px;
    margin-top: 37px;
    margin-right: -14px;
    margin-bottom: 32px;
  }

  .u-section-2 .u-image-2 {
    min-height: 135px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 202px;
  }
} .u-section-3 {
  min-height: 1259px;
}

.u-section-3 .u-image-1 {
  width: 314px;
  height: 264px;
  margin: 521px 0 0 auto;
}

.u-section-3 .u-layout-wrap-1 {
  width: 934px;
  margin: -765px calc(((100% - 1140px) / 2) + 92px) 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 619px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-3 .u-text-1 {
  margin: 6px 0 0;
}

.u-section-3 .u-text-2 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  margin: 15px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.125rem;
  text-transform: none;
  align-self: center;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 0 15px 2px 14px;
}

.u-section-3 .u-image-2 {
  min-height: 619px;
  background-image: url("images/35195380-afro-amricaine-prescription-d-criture-de-mdecin-.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 28px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 58px 322px 0 calc(((100% - 1140px) / 2) + 378px);
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: 18px auto 0 calc(((100% - 1140px) / 2) + -18px);
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  min-height: 437px;
  grid-gap: 15px 15px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px auto 0 10px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: -40px 18px 0 77px;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  font-size: 1rem;
  margin: 22px 29px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-3 .u-text-7 {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px auto 0 10px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1rem;
  margin: -40px 18px 0 77px;
}

.u-section-3 .u-text-9 {
  font-style: italic;
  font-size: 1rem;
  margin: 22px 29px 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-3 .u-text-10 {
  font-size: 3rem;
  font-weight: 700;
  margin: 10px auto 0 10px;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 1rem;
  margin: -40px 18px 0 77px;
}

.u-section-3 .u-text-12 {
  font-style: italic;
  font-size: 1rem;
  margin: 22px 29px 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.875rem;
  text-transform: none;
  align-self: center;
  background-image: none;
  margin: 15px auto 29px;
  padding: 4px 16px 5px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 504px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: calc(((100% - 940px) / 2) + 6px);
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 55px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2) + 264px);
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-top: 21px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-3 .u-repeater-1 {
    min-height: 358px;
  }

  .u-section-3 .u-text-4 {
    font-size: 3.4375rem;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    width: 275px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    font-size: 3.4375rem;
  }

  .u-section-3 .u-text-8 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    width: 275px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    font-size: 3.4375rem;
  }

  .u-section-3 .u-text-11 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
    width: 275px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1797px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 684px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -945px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    min-height: 477px;
  }

  .u-section-3 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2) + 202px);
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
    min-height: 847px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 8px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 8px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 2339px;
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + -48px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    min-height: 692px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 45px;
    margin-left: calc(((100% - 540px) / 2) + 51px);
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-top: 31px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 892px;
  }

  .u-section-3 .u-text-4 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 3rem;
  }

  .u-section-3 .u-text-10 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 2489px;
  }

  .u-section-3 .u-image-1 {
    width: 194px;
    height: 163px;
    margin-top: 1107px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2) + -15px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1267px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-image-2 {
    min-height: 436px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 49px;
    margin-right: 0;
    margin-left: calc(((100% - 340px) / 2) + 23px);
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: 27px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1127px;
  }

  .u-section-3 .u-text-4 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-10 {
    font-size: 3.75rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 565px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 577px;
  margin: 10px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 5px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 0;
  grid-gap: 0px 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 0 20px 10px;
}

.u-section-4 .u-image-1 {
  height: 196px;
  width: 335px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 26px 28px 0 13px;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  margin: 13px 23px 0 18px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 0 20px 10px;
}

.u-section-4 .u-image-2 {
  height: 196px;
  width: 335px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 26px 28px 0 13px;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  margin: 13px 23px 0 18px;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 0 20px 10px;
}

.u-section-4 .u-image-3 {
  height: 196px;
  width: 335px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  margin: 26px 28px 0 13px;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  margin: 13px 23px 0 18px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 12px;
    min-height: 552px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 4px) calc(33.3333% - 4px) calc(33.3333% - 4px);
    grid-gap: 6px 6px;
    grid-auto-columns: calc(33.3333% - 4px);
    min-height: 552px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 285px;
    margin-right: 14px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 7px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 285px;
    margin-right: 14px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-right: 7px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-4 .u-image-3 {
    width: 285px;
    margin-right: 14px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-right: 7px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-right: 28px;
    margin-left: 16px;
  }

  .u-section-4 .u-gallery-nav-1 {
    left: 0;
    top: 170px;
  }

  .u-section-4 .u-gallery-nav-2 {
    left: auto;
    top: 170px;
    right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 46px;
    margin-bottom: 10px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(50% - 3px);
    grid-template-columns: calc(50% - 3px) calc(50% - 3px);
    min-height: 425px;
  }

  .u-section-4 .u-image-1 {
    width: 303px;
    margin-right: 37px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 37px;
    margin-left: 13px;
  }

  .u-section-4 .u-image-2 {
    width: 303px;
    margin-right: 37px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 37px;
    margin-left: 13px;
  }

  .u-section-4 .u-image-3 {
    width: 303px;
    margin-right: 37px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 37px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    width: 540px;
  }

  .u-section-4 .u-list-1 {
    width: 400px;
    min-height: 527px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 527px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 13px;
  }

  .u-section-4 .u-image-1 {
    height: 274px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 30px;
    margin-right: 51px;
    margin-left: 28px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 19px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 11px;
    padding-bottom: 13px;
  }

  .u-section-4 .u-image-2 {
    height: 274px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-4 {
    margin-top: 30px;
    margin-right: 51px;
    margin-left: 28px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 19px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 11px;
    padding-bottom: 13px;
  }

  .u-section-4 .u-image-3 {
    height: 274px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-6 {
    margin-top: 30px;
    margin-right: 51px;
    margin-left: 28px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 19px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-4 .u-gallery-nav-1 {
    top: 130px;
  }

  .u-section-4 .u-gallery-nav-2 {
    top: 130px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 675px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 33px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 20px;
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-image-1 {
    height: 233px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    width: 247px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 30px;
    margin-left: 39px;
  }

  .u-section-4 .u-image-2 {
    height: 233px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-4 {
    width: 247px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-5 {
    margin-top: 30px;
    margin-left: 39px;
  }

  .u-section-4 .u-image-3 {
    height: 233px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-6 {
    width: 247px;
    margin-top: 27px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-7 {
    margin-top: 30px;
    margin-left: 39px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 396px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 76px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 327px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 7px 13px 0;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  margin: 8px 126px 0 40px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 336px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 88px;
  height: 110px;
  margin: 34px auto 0 68px;
}

.u-section-5 .u-image-2 {
  width: 88px;
  height: 108px;
  margin: -110px auto 0 229px;
}

.u-section-5 .u-image-3 {
  width: 105px;
  height: 105px;
  margin: -105px 88px 0 auto;
}

.u-section-5 .u-image-4 {
  width: 129px;
  height: 136px;
  margin: 13px auto 0 47px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 343px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 20px;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 5px;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 13px;
    margin-right: 151px;
    margin-left: 15px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-5 .u-image-1 {
    width: 120px;
    height: 121px;
    margin-top: 15px;
    margin-left: 13px;
  }

  .u-section-5 .u-image-2 {
    width: 110px;
    height: 99px;
    margin-left: auto;
  }

  .u-section-5 .u-image-3 {
    width: 128px;
    height: 106px;
    margin-top: -103px;
    margin-right: 20px;
  }

  .u-section-5 .u-image-4 {
    width: 167px;
    height: 122px;
    margin-top: 38px;
    margin-left: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 100%;
    margin: 21px 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 200px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 199px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 16px;
  }

  .u-section-5 .u-image-2 {
    height: 100px;
    margin-left: 188px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -106px;
    margin-right: 234px;
  }

  .u-section-5 .u-image-4 {
    width: 181px;
    height: 140px;
    margin-top: -120px;
    margin-right: 16px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 166px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 126px;
    margin-left: 40px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 135px;
  }

  .u-section-5 .u-image-1 {
    width: 100px;
    height: 101px;
    margin-left: 5px;
  }

  .u-section-5 .u-image-2 {
    width: 100px;
    height: 91px;
    margin-top: -96px;
    margin-left: 132px;
  }

  .u-section-5 .u-image-3 {
    width: 100px;
    height: 83px;
    margin-top: -87px;
    margin-right: 21px;
  }

  .u-section-5 .u-image-4 {
    width: 131px;
    height: 91px;
    margin-top: -87px;
    margin-right: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 21px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 319px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-2 {
    margin-right: 31px;
    margin-left: 21px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 114px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 24px;
  }

  .u-section-5 .u-image-2 {
    margin-right: 40px;
    margin-left: auto;
  }

  .u-section-5 .u-image-3 {
    margin-top: 45px;
    margin-right: 40px;
  }

  .u-section-5 .u-image-4 {
    width: 140px;
    height: 114px;
    margin-top: -99px;
    margin-right: auto;
    margin-left: 13px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 491px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-6 .u-blog-1 {
  margin-bottom: 40px;
  margin-top: 20px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 375px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  margin: 10px 30px 0 10px;
}

.u-section-6 .u-image-1 {
  height: 197px;
  width: 308px;
  margin: 30px 15px 0 30px;
}

.u-section-6 .u-text-3 {
  margin: 10px 13px 0 28px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 10px;
}

.u-section-6 .u-text-4 {
  font-size: 1.25rem;
  margin: 10px 30px 0 10px;
}

.u-section-6 .u-image-2 {
  height: 197px;
  width: 308px;
  margin: 30px 15px 0 30px;
}

.u-section-6 .u-text-5 {
  margin: 10px 13px 0 28px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 10px;
}

.u-section-6 .u-text-6 {
  font-size: 1.25rem;
  margin: 10px 30px 0 10px;
}

.u-section-6 .u-image-3 {
  height: 197px;
  width: 308px;
  margin: 30px 15px 0 30px;
}

.u-section-6 .u-text-7 {
  margin: 10px 13px 0 28px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 10px;
}

.u-section-6 .u-text-8 {
  font-size: 1.25rem;
  margin: 10px 30px 0 10px;
}

.u-section-6 .u-image-4 {
  height: 197px;
  width: 308px;
  margin: 30px 15px 0 30px;
}

.u-section-6 .u-text-9 {
  margin: 10px 13px 0 28px;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 196px;
    width: 297px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-6 .u-image-2 {
    height: 196px;
    width: 297px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 10px;
  }

  .u-section-6 .u-image-3 {
    height: 196px;
    width: 297px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-right: 10px;
  }

  .u-section-6 .u-image-4 {
    height: 196px;
    width: 297px;
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
  }

  .u-section-6 .u-text-2 {
    margin-top: 6px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 25px;
    margin-left: 40px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 3px;
    margin-left: 40px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 6px;
  }

  .u-section-6 .u-image-2 {
    margin-right: 25px;
    margin-left: 40px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-top: 3px;
    margin-left: 40px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 6px;
  }

  .u-section-6 .u-image-3 {
    margin-right: 25px;
    margin-left: 40px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-top: 3px;
    margin-left: 40px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 6px;
  }

  .u-section-6 .u-image-4 {
    margin-right: 25px;
    margin-left: 40px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-top: 3px;
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-blog-1 {
    min-height: 389px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 235px;
    margin-left: 53px;
  }

  .u-section-6 .u-image-1 {
    height: 249px;
    width: 420px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 53px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 13px;
    margin-right: 74px;
    margin-left: 53px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: 235px;
    margin-left: 53px;
  }

  .u-section-6 .u-image-2 {
    height: 249px;
    width: 420px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 53px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 13px;
    margin-right: 74px;
    margin-left: 53px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: 235px;
    margin-left: 53px;
  }

  .u-section-6 .u-image-3 {
    height: 249px;
    width: 420px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 53px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 13px;
    margin-right: 74px;
    margin-left: 53px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-right: 235px;
    margin-left: 53px;
  }

  .u-section-6 .u-image-4 {
    height: 249px;
    width: 420px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 53px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 13px;
    margin-right: 74px;
    margin-left: 53px;
  }

  .u-section-6 .u-gallery-nav-1 {
    left: 13px;
    top: 175px;
  }

  .u-section-6 .u-gallery-nav-2 {
    left: auto;
    top: 175px;
    right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-6 .u-text-2 {
    margin-right: 88px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    height: 202px;
    width: 340px;
    margin-right: 9px;
    margin-left: 24px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 24px;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 88px;
    margin-left: 0;
  }

  .u-section-6 .u-image-2 {
    height: 202px;
    width: 340px;
    margin-right: 9px;
    margin-left: 24px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 24px;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-right: 88px;
    margin-left: 0;
  }

  .u-section-6 .u-image-3 {
    height: 202px;
    width: 340px;
    margin-right: 9px;
    margin-left: 24px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 24px;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-right: 88px;
    margin-left: 0;
  }

  .u-section-6 .u-image-4 {
    height: 202px;
    width: 340px;
    margin-right: 9px;
    margin-left: 24px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 24px;
    margin-right: 0;
  }
}