.u-section-1 .u-sheet-1 {
  min-height: 595px;
}

.u-section-1 .u-image-1 {
  height: 530px;
  margin-top: 49px;
  margin-bottom: 16px;
}.u-section-2 .u-sheet-1 {
  min-height: 321px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 18px 48px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.875rem;
  margin: 48px auto 47px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}